<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.ddtkj.userinfomodule"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--主Activity-->
        <activity
            android:name=".MVP.View.Implement.Activity.UserInfo_Act_MainActivity_View"
            android:theme="@style/AppDefaultStyle"
            android:launchMode="singleTask"
        />
        <!--登录的Activity-->
        <activity
            android:name=".MVP.View.Implement.Activity.UserInfo_Act_LoginActivty_View"
            android:theme="@style/AppDefaultStyle"
            android:launchMode="singleTask"
        />
        <!--提现记录的Activity-->
        <activity
            android:name=".MVP.View.Implement.Activity.UserInfoModule_Act_WithdrawalsRecord_List_View"
            android:theme="@style/AppDefaultStyle"
            android:launchMode="singleTask"
        />
        <!--充值记录的Activity-->
        <activity
            android:name=".MVP.View.Implement.Activity.UserInfoModule_Act_RechargeRecord_List_View"
            android:theme="@style/AppDefaultStyle"
            android:launchMode="singleTask"
        />
        <!--红包记录的Activity-->
        <activity
            android:name=".MVP.View.Implement.Activity.UserInfoModule_Act_RedEnvelopeRecord_List_View"
            android:theme="@style/AppDefaultStyle"
            android:launchMode="singleTask"
        />
        <!--消费记录的Activity-->
        <activity
            android:name=".MVP.View.Implement.Activity.UserInfoModule_Act_ConsumptionRecord_List_View"
            android:theme="@style/AppDefaultStyle"
            android:launchMode="singleTask"
        />
        <!--解封账号记录的Activity-->
        <activity
            android:name=".MVP.View.Implement.Activity.UserInfoModule_Act_UnblockRecord_List_View"
            android:theme="@style/AppDefaultStyle"
            android:launchMode="singleTask"
        />
    </application>

</manifest>