<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.ddt.redEnvelope"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 允许程序访问有关GSM网络信息 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 允许程序打开网络套接字 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 允许程序访问Wi-Fi网络状态信 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 读写手机状态和身份 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 可以读写SDCARD,包括其他storage,比如内部flash,usb等等 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WIDOW" /><!--允许一个程序打开窗口使用TYPE_SYSTEM_ALERT,显示在其他所有程序的顶层 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>

    <!--分包动态修改部分参数注意事项：-->
    <!-- android:icon="${app_icon}" 分包动态图标设置-->
    <!--android:label="@string/app_name" 分包动态设置app_name时注释掉strings.xml中的app_name-->
    <!--tools:replace="icon,label,theme" 解决多个Manifest合并时异常问题-->
    <application
        android:name="com.ddt.redEnvelope.Base.My_Application"
        android:allowBackup="false"
        android:icon="@mipmap/icon_launcher"
        android:label="@string/app_name"
        tools:replace="icon,label,theme,allowBackup"
        android:supportsRtl="true"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning"
        android:theme="@style/AppTheme">
        <!--启动页-->
        <activity
            android:name="com.ddt.redEnvelope.MVP.View.Implement.Activity.Main_Act_WelcomePage"
            android:theme="@style/AppMainSplashTheme"
            android:background="@color/white"
            android:launchMode="singleTask"
        >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <!--Deep Linking配置-->
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="com.ddt.redenvelope"
                    android:scheme="redenvelope" />
            </intent-filter>
        </activity>
        <!--引导页-->
        <activity
            android:name="com.ddt.redEnvelope.MVP.View.Implement.Activity.Main_Act_Guide_View"
            android:theme="@style/AppDefaultStyle"
            android:launchMode="singleTask"
        />
        <!--**********************友盟分享******************************-->
        <!--新浪-->
        <activity
            android:name="com.ddt.redEnvelope.WBShareActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!--微信-->
        <activity
            android:name="com.ddt.redEnvelope.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- 微信支付回调界面 -->
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>

        <!--qq精简版-->
        <activity
            android:name="com.umeng.qq.tencent.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1101961626" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.umeng.qq.tencent.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity
            android:name="com.umeng.socialize.editorpage.ShareActivity"
            android:theme="@style/Theme.UMDefault"
            android:excludeFromRecents="true"
        />
        <!--**********************腾讯bugly应用升级******************************-->
        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@android:style/Theme.Translucent"/>
        <!--*****************************service************************************-->
        <!-- 启动页后台下载图片的Service -->
        <service android:name="com.ddt.redEnvelope.Service.Main_WelcomePageService" >
            <intent-filter>
                <action android:name="${applicationId}.Service.WelcomePageService" />
            </intent-filter>
        </service>

        <!--*****************************receiver************************************-->
        <!--   程序更新后自启动的 receiver -->
        <!-- <receiver android:name="com.ygworld.Receiver.AppInstallReceiver"
                   android:label="@string/app_name">
             <intent-filter>
                 <action android:name="android.intent.action.PACKAGE_ADDED" />
                 <action android:name="android.intent.action.PACKAGE_REPLACED" />
                 <action android:name="android.intent.action.PACKAGE_REMOVED" />
                 <data android:scheme="package" />
             </intent-filter>
         </receiver>-->
        <!--*****************************meta-data************************************-->
        <!--友盟多渠道打包-->
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="542a22f0fd98c5cf2a0274ed" >
        </meta-data>

        <!--*************************JPUSH推送*****************************************-->
        <!-- User defined.  For test only  用户自定义的广播接收器-->
        <receiver
            android:name="com.ddtkj.commonmodule.Receiver.Common_JPushReceiver"
            android:exported="false"
            android:enabled="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!--Required  用户注册SDK的intent-->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!--Required  用户接收SDK消息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!--Required  用户接收SDK通知栏信息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!--Required  用户打开自定义通知栏的intent-->
                <action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK" /> <!--Optional 用户接受Rich Push Javascript 回调函数的intent-->
                <action android:name="cn.jpush.android.intent.CONNECTION" /><!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>
        <!--*************************JPUSH推送*****************************************-->
    </application>
</manifest>